@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de cadastro";
}

<h1>@ViewData["Title"]</h1>
<!--https://aka.ms/aspaccountconf -->
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
   Por estar em fase de testes, este app ainda não envia email para confirmação de conta. <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar sua conta</a> e utilizar a aplicação.
</p>
    }
    else
    {
<p>
        Favor verificar seu email para confirmação da conta.
</p>
    }
}
