@page
@{
    ViewData["Title"] = "AldeiaParental";
}
    <div class="text-center">
        <h1>Aldeia Parental</h1>
        <h2 class="d-block mt-5">
            PROJETO ALDEIA PARENTAL - UMA ALTERNATIVA PARA O CUIDADO INFANTIL
        </h2>
        <h3 class="d-block mt-5">
           Roberto Silveira da Rosa Junior
        </h3>
        <h4 class="d-block mt-2">Aplicação apresentada como trabalho de conclusão ao Curso de Especialização em Desenvolvimento Web Full Stack.
            Pós-graduação Lato Sensu - PONTIFÍCIA UNIVERSIDADE CATÓLICA DE MINAS GERAIS</h4>
        <p class="mt-2" style="text-align:left">Resumo:
            Um dos problemas que pais ou responsáveis comumente se deparam é com quem deixar suas crianças, quando for necessário. O PROJETO ALDEIA PARENTAL - UMA ALTERNATIVA PARA O CUIDADO INFANTIL, visa dispor um portal WEB no qual seja possível encontrar pessoas preparadas e disponíveis para este cuidado. Para atingir este objetivo, no escopo dedicado a este TCC, foram implementadas funcionalidades básicas de cadastro e operações para cuidadores e clientes (famílias). Ainda, apresenta funcionalidades de administração para gestão do portal. Além de contemplar as funcionalidades exigidas para a entrega do TCC, visa disponibilizar um sistema que represente um ponto de partida para a construção de um MVP - produto mínimo viável - que entregue ao público solução para o problema apresentado.
        </p>
        <p class="mt-2">
            <a href="https://docs.google.com/document/d/1ZFMfRP3XuCiVP8StHBg4VhtsV53lO8fDBA-nsWju1Z8/view">Link para a documentação do Projeto</a>
        </p>
        <p>Link para o video sobre a aplicação</p>
    </div>
