@page
@model IndexModel
@{
    ViewData["Title"] = "Aldeia Parental";
}

    <div class="text-center">
        <h1 class="display-4">Pagina Inicial</h1>

        <div>
            <div>
                <label asp-for="UserFirstName"></label>
                <p>@Model.UserFirstName</p>
            </div>
            <div>
                <label asp-for="UserRoles"></label>
                <ul>
                    @foreach (var userRole in Model.UserRoles)
                    {
                        <li>@userRole</li>
                    }
                </ul>
 
            </div>
        </div>

        <p>Todo: Deve conter painel com as informações/ações principais de cada perfil, identificados através do usuário logado</p>
        <p>ex. Bem Vindo Roberto(Cliente): Encontre um cuidador para seu filho</p>
        <p>ex. Bem Vindo Roberto(Cuidador): Cadastre seus locais de atendimento</p>


    </div>