@page
@model AldeiaParental.Areas_Identity_Pages_Account_Manage_PersonalDocuments.CreateModel

@{
    ViewData["Title"] = "Criar Documento";
}

<h1>Criar</h1>

<h4>Documento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonalDocument.DocumentType" class="control-label">Tipo</label>
                <input asp-for="PersonalDocument.DocumentType" class="form-control" />
                <span asp-validation-for="PersonalDocument.DocumentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalDocument.DocumentNumber" class="control-label">Número</label>
                <input asp-for="PersonalDocument.DocumentNumber" class="form-control" />
                <span asp-validation-for="PersonalDocument.DocumentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Arquivo (.pdf) max 1 Mb</label>
                <input type="file" asp-for="Upload" class="form-control-file"/>
                <span asp-validation-for="PersonalDocument.FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Listar documentos</a>
</div>

