@page
@model AldeiaParental.Areas_Identity_Pages_Account_Manage_PersonalDocuments.DeleteModel

@{
    ViewData["Title"] = "Excluir Documento";
    bool readOnly = Model.PersonalDocument.Valid??false;
}

<h1>Excluir</h1>

<h3>Tem Certeza?</h3>
<div>
    <h4>Documento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tipo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalDocument.DocumentType)
        </dd>
        <dt class="col-sm-2">
            Número
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalDocument.DocumentNumber)
        </dd>
        <dt class="col-sm-2">
            Arquivo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalDocument.FilePath)
        </dd>
        <dt class="col-sm-2">
            Verificação
        </dt>
        <dd class="col-sm-10">
             @(Model.PersonalDocument.Valid==null?"Indefinido":Model.PersonalDocument.Valid==true?"Válido":"Inválido")
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PersonalDocument.Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" disabled=@readOnly/> |
        <a asp-page="./Index">Listar Documentos</a>
    </form>
</div>
