@page
@model AldeiaParental.Pages.ServiceLocations.CreateModel

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<h4>Local de Atendimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ServiceLocation.AtCustomerHome" /> @Html.DisplayNameFor(model => model.ServiceLocation.AtCustomerHome)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ServiceLocation.Description" class="control-label"></label>
                <input asp-for="ServiceLocation.Description" class="form-control" />
                <span asp-validation-for="ServiceLocation.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceLocation.Address" class="control-label"></label>
                <input asp-for="ServiceLocation.Address" class="form-control" />
                <span asp-validation-for="ServiceLocation.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceLocation.Region" class="control-label"></label>
                <select asp-for="ServiceLocation.RegionId" class ="form-control" asp-items="ViewBag.Region"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Listar Locais</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
