@page
@{
    ViewData["Title"] = "AldeiaParental";
}
    <div class="text-center">
        <h1>AldeiaParental</h1>
        <h2 class="d-block mt-5">
            PROJETO ALDEIA PARENTAL - UMA ALTERNATIVA PARA O CUIDADO INFANTIL
        </h2>
        <h4 class="d-block mt-5">
            PONTIFÍCIA UNIVERSIDADE CATÓLICA DE MINAS GERAIS
            Pós-graduação Lato Sensu em Desenvolvimento Web Full Stack
        </h4>
        <h4 class="d-block mt-2">Trabalho de Conclusão de Curso apresentado ao Curso de Especialização em Desenvolvimento Web Full Stack como requisito parcial à obtenção do título de especialista.</h4>
        <p class="mt-2">Resumo: Pais ou responsáveis comumente se deparam com situações nas quais é necessário determinar soluções para o cuidado de suas crianças. O PROJETO ALDEIA PARENTAL - UMA ALTERNATIVA PARA O CUIDADO INFANTIL, visa dispor um portal WEB no qual seja possível encontrar pessoas preparadas e disponíveis para cuidarem de suas crianças quando necessário. O sistema deve apresentar as opções disponíveis de acordo com as preferências e necessidades indicadas pelos usuários. Para tal, deve dispor de ferramentas de cadastro e busca adequadas às necessidades das partes, objetivando ofertar maior valor possível para aos envolvidos. </p>
        <p class="mt-2">Link para o video sobre a aplicação</p>
        <p>Link para a documentação do Projeto</p>
    </div>
