@page
@model AldeiaParental.Pages_CustomerServices.EditModel

@{
    ViewData["Title"] = "Avaliar Atendimento";
}

<h1>Avaliar</h1>

<h4>Atendimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Service.Caregiver.FirstName" class="control-label"></label>
            <input asp-for="Service.Caregiver.FirstName" class="form-control" readonly="true"/>
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Service.Id" />
            <input type="hidden" asp-for="Service.CustomerId" />
            <input type="hidden" asp-for="Service.CaregiverId" />
            <div class="form-group">
                <label asp-for="Service.Rate" class="control-label"></label>
                <input asp-for="Service.Rate" class="form-control" min=1 max=5 value=5/>
                <span asp-validation-for="Service.Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.CaregiverComments" class="control-label"></label>
                <input asp-for="Service.CaregiverComments" class="form-control" readonly="true"/>
                <span asp-validation-for="Service.CaregiverComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.CustomerComments" class="control-label"></label>
                <input asp-for="Service.CustomerComments" class="form-control" />
                <span asp-validation-for="Service.CustomerComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.datetime" class="control-label"></label>
                <input asp-for="Service.datetime" class="form-control" readonly="true"/>
                <span asp-validation-for="Service.datetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Listar Atendimentos</a>
</div>

